USE [master]
GO
/****** Object:  Database [PropertyManagement]    Script Date: 28.01.2026 19:19:46 ******/
CREATE DATABASE [PropertyManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PropertyManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PropertyManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PropertyManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PropertyManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PropertyManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PropertyManagement]
GO
/****** Object:  Table [dbo].[Apartments]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartments](
	[apartment_id] [int] IDENTITY(1,1) NOT NULL,
	[building_id] [int] NOT NULL,
	[apartment_number] [int] NOT NULL,
	[area] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[apartment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[building_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[city] [nvarchar](100) NOT NULL,
	[management_start_date] [date] NULL,
	[floors] [int] NULL,
	[apartments_count] [int] NULL,
	[construction_year] [int] NULL,
	[total_area] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[building_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Debts]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debts](
	[debt_id] [int] IDENTITY(1,1) NOT NULL,
	[apartment_id] [int] NOT NULL,
	[report_date] [date] NOT NULL,
	[water_debt] [decimal](10, 2) NULL,
	[electricity_debt] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[debt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[position] [nvarchar](100) NULL,
	[phone_number] [nvarchar](20) NULL,
	[login] [nvarchar](50) NULL,
	[password_hash] [nvarchar](255) NULL,
	[position_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[owner_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[phone_number] [nvarchar](20) NULL,
	[passport_data] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[apartment_id] [int] NOT NULL,
	[period_month] [int] NOT NULL,
	[period_year] [int] NOT NULL,
	[amount_charged] [decimal](10, 2) NOT NULL,
	[amount_paid] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[position_id] [int] IDENTITY(1,1) NOT NULL,
	[position_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyOwnership]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyOwnership](
	[ownership_id] [int] IDENTITY(1,1) NOT NULL,
	[owner_id] [int] NOT NULL,
	[apartment_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ownership_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestExpenses]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestExpenses](
	[expense_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[expense_type] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[expense_date] [date] NULL,
	[created_by] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[expense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceRequests]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRequests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[apartment_id] [int] NOT NULL,
	[employee_id] [int] NULL,
	[created_date] [datetime] NULL,
	[request_type] [nvarchar](100) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Apartments] ON 

INSERT [dbo].[Apartments] ([apartment_id], [building_id], [apartment_number], [area]) VALUES (1, 18, 1, NULL)
INSERT [dbo].[Apartments] ([apartment_id], [building_id], [apartment_number], [area]) VALUES (2, 18, 2, NULL)
INSERT [dbo].[Apartments] ([apartment_id], [building_id], [apartment_number], [area]) VALUES (3, 18, 3, NULL)
SET IDENTITY_INSERT [dbo].[Apartments] OFF
GO
SET IDENTITY_INSERT [dbo].[Buildings] ON 

INSERT [dbo].[Buildings] ([building_id], [address], [city], [management_start_date], [floors], [apartments_count], [construction_year], [total_area]) VALUES (1, N'ул. 45 Параллель, 4/2, Ставрополь', N'Ставрополь', CAST(N'2015-04-22' AS Date), 9, 52, 2001, CAST(1978.70 AS Decimal(10, 2)))
INSERT [dbo].[Buildings] ([building_id], [address], [city], [management_start_date], [floors], [apartments_count], [construction_year], [total_area]) VALUES (2, N'ул. Васильева, 1, Ставрополь', N'Ставрополь', CAST(N'2015-04-22' AS Date), 9, 144, 1983, CAST(7950.40 AS Decimal(10, 2)))
INSERT [dbo].[Buildings] ([building_id], [address], [city], [management_start_date], [floors], [apartments_count], [construction_year], [total_area]) VALUES (3, N'ул. Доваторцев, 66/2, Ставрополь', N'Ставрополь', CAST(N'2020-11-01' AS Date), 9, 102, 1984, CAST(3176.40 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Buildings] OFF
GO
SET IDENTITY_INSERT [dbo].[Debts] ON 

INSERT [dbo].[Debts] ([debt_id], [apartment_id], [report_date], [water_debt], [electricity_debt]) VALUES (1, 2, CAST(N'2025-03-01' AS Date), CAST(2455.20 AS Decimal(10, 2)), CAST(7541.81 AS Decimal(10, 2)))
INSERT [dbo].[Debts] ([debt_id], [apartment_id], [report_date], [water_debt], [electricity_debt]) VALUES (2, 4, CAST(N'2025-03-01' AS Date), CAST(14567.56 AS Decimal(10, 2)), CAST(48517.25 AS Decimal(10, 2)))
INSERT [dbo].[Debts] ([debt_id], [apartment_id], [report_date], [water_debt], [electricity_debt]) VALUES (3, 8, CAST(N'2025-03-01' AS Date), CAST(178451.00 AS Decimal(10, 2)), CAST(257891.10 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Debts] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([employee_id], [full_name], [position], [phone_number], [login], [password_hash], [position_id]) VALUES (1, N'Иванов Петр Сергеевич', N'Сантехник', N'89181112233', N'user1', N'password123', 3)
INSERT [dbo].[Employees] ([employee_id], [full_name], [position], [phone_number], [login], [password_hash], [position_id]) VALUES (2, N'Сидорова Мария Ивановна', N'Электрик', N'89182223344', N'user2', N'password123', 4)
INSERT [dbo].[Employees] ([employee_id], [full_name], [position], [phone_number], [login], [password_hash], [position_id]) VALUES (3, N'Петров Алексей Викторович', N'Слесарь', N'89183334455', N'user3', N'password123', 3)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Owners] ON 

INSERT [dbo].[Owners] ([owner_id], [full_name], [phone_number], [passport_data]) VALUES (1, N'Шевченко Ольга Викторовна', NULL, NULL)
INSERT [dbo].[Owners] ([owner_id], [full_name], [phone_number], [passport_data]) VALUES (2, N'Мазалова Ирина Львовна', N'89185647218', NULL)
INSERT [dbo].[Owners] ([owner_id], [full_name], [phone_number], [passport_data]) VALUES (3, N'Семеняка Юрий Геннадьевич', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Owners] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([payment_id], [apartment_id], [period_month], [period_year], [amount_charged], [amount_paid]) VALUES (1, 1, 3, 2025, CAST(3725.84 AS Decimal(10, 2)), CAST(3725.84 AS Decimal(10, 2)))
INSERT [dbo].[Payments] ([payment_id], [apartment_id], [period_month], [period_year], [amount_charged], [amount_paid]) VALUES (2, 2, 3, 2025, CAST(2914.56 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Payments] ([payment_id], [apartment_id], [period_month], [period_year], [amount_charged], [amount_paid]) VALUES (3, 3, 3, 2025, CAST(4210.48 AS Decimal(10, 2)), CAST(4210.48 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([position_id], [position_name], [description]) VALUES (1, N'Администратор', N'Полный доступ ко всем функциям системы')
INSERT [dbo].[Positions] ([position_id], [position_name], [description]) VALUES (2, N'Менеджер', N'Управление заявками, отчетность')
INSERT [dbo].[Positions] ([position_id], [position_name], [description]) VALUES (3, N'Техник', N'Выполнение технических работ')
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyOwnership] ON 

INSERT [dbo].[PropertyOwnership] ([ownership_id], [owner_id], [apartment_id]) VALUES (1, 1, 1)
INSERT [dbo].[PropertyOwnership] ([ownership_id], [owner_id], [apartment_id]) VALUES (2, 2, 2)
INSERT [dbo].[PropertyOwnership] ([ownership_id], [owner_id], [apartment_id]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[PropertyOwnership] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestExpenses] ON 

INSERT [dbo].[RequestExpenses] ([expense_id], [request_id], [expense_type], [description], [amount], [expense_date], [created_by]) VALUES (1, 1, N'Материалы', N'Трубы, фитинги, герметик', CAST(2500.00 AS Decimal(10, 2)), CAST(N'2026-01-28' AS Date), NULL)
INSERT [dbo].[RequestExpenses] ([expense_id], [request_id], [expense_type], [description], [amount], [expense_date], [created_by]) VALUES (2, 2, N'Материалы', N'Провода, розетки, изолента', CAST(1800.00 AS Decimal(10, 2)), CAST(N'2026-01-28' AS Date), NULL)
INSERT [dbo].[RequestExpenses] ([expense_id], [request_id], [expense_type], [description], [amount], [expense_date], [created_by]) VALUES (3, 3, N'Работа', N'Лампочки, патроны', CAST(500.00 AS Decimal(10, 2)), CAST(N'2026-01-28' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[RequestExpenses] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceRequests] ON 

INSERT [dbo].[ServiceRequests] ([request_id], [apartment_id], [employee_id], [created_date], [request_type], [description], [status]) VALUES (1, 2, 1, CAST(N'2026-01-27T12:27:11.657' AS DateTime), N'Ремонт сантехники', N'Протечка воды в ванной', N'Открыта')
INSERT [dbo].[ServiceRequests] ([request_id], [apartment_id], [employee_id], [created_date], [request_type], [description], [status]) VALUES (2, 2, 2, CAST(N'2026-01-27T12:27:11.657' AS DateTime), N'Ремонт электрики', N'Протечка воды в ванной', N'Открыта')
INSERT [dbo].[ServiceRequests] ([request_id], [apartment_id], [employee_id], [created_date], [request_type], [description], [status]) VALUES (3, 2, 3, CAST(N'2026-01-27T12:27:11.657' AS DateTime), N'Обслуживание', N'Протечка воды в ванной', N'Открыта')
SET IDENTITY_INSERT [dbo].[ServiceRequests] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_Login]    Script Date: 28.01.2026 19:19:47 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Employees_Login] ON [dbo].[Employees]
(
	[login] ASC
)
WHERE ([login] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [amount_paid]
GO
ALTER TABLE [dbo].[RequestExpenses] ADD  DEFAULT (getdate()) FOR [expense_date]
GO
ALTER TABLE [dbo].[ServiceRequests] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[ServiceRequests] ADD  DEFAULT ('Открыта') FOR [status]
GO
ALTER TABLE [dbo].[Apartments]  WITH CHECK ADD FOREIGN KEY([building_id])
REFERENCES [dbo].[Buildings] ([building_id])
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD FOREIGN KEY([apartment_id])
REFERENCES [dbo].[Apartments] ([apartment_id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([position_id])
REFERENCES [dbo].[Positions] ([position_id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([position_id])
REFERENCES [dbo].[Positions] ([position_id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([position_id])
REFERENCES [dbo].[Positions] ([position_id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([apartment_id])
REFERENCES [dbo].[Apartments] ([apartment_id])
GO
ALTER TABLE [dbo].[PropertyOwnership]  WITH CHECK ADD FOREIGN KEY([apartment_id])
REFERENCES [dbo].[Apartments] ([apartment_id])
GO
ALTER TABLE [dbo].[PropertyOwnership]  WITH CHECK ADD FOREIGN KEY([owner_id])
REFERENCES [dbo].[Owners] ([owner_id])
GO
ALTER TABLE [dbo].[RequestExpenses]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[ServiceRequests] ([request_id])
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD FOREIGN KEY([apartment_id])
REFERENCES [dbo].[Apartments] ([apartment_id])
GO
ALTER TABLE [dbo].[ServiceRequests]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddEmployee]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Добавляем процедуру для добавления нового сотрудника
CREATE PROCEDURE [dbo].[sp_AddEmployee]
    @full_name NVARCHAR(255),
    @position_id INT,
    @login NVARCHAR(50),
    @password NVARCHAR(100),
    @phone_number NVARCHAR(20) = NULL,
    @email NVARCHAR(100) = NULL,
    @hire_date DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Проверяем уникальность логина
        IF EXISTS (SELECT 1 FROM [dbo].[Employees] WHERE login = @login)
        BEGIN
            RAISERROR('Логин уже существует', 16, 1);
            RETURN;
        END
        
        -- Добавляем сотрудника
        INSERT INTO [dbo].[Employees] 
            (full_name, position_id, login, password_hash, phone_number, email, hire_date)
        VALUES 
            (@full_name, @position_id, @login, @password, @phone_number, @email, @hire_date);
        
        COMMIT TRANSACTION;
        
        SELECT SCOPE_IDENTITY() as employee_id;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ChangePassword]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Добавляем процедуру для смены пароля
CREATE PROCEDURE [dbo].[sp_ChangePassword]
    @employee_id INT,
    @old_password NVARCHAR(100),
    @new_password NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @current_hash NVARCHAR(255);
    
    -- Получаем текущий хеш пароля
    SELECT @current_hash = password_hash 
    FROM [dbo].[Employees] 
    WHERE employee_id = @employee_id;
    
    -- Проверяем старый пароль
    IF @current_hash <> CONVERT(NVARCHAR(255), HASHBYTES('SHA2_256', @old_password + CAST(@employee_id AS NVARCHAR(10))), 2)
    BEGIN
        RAISERROR('Неверный текущий пароль', 16, 1);
        RETURN;
    END
    
    -- Обновляем пароль
    UPDATE [dbo].[Employees]
    SET password_hash = @new_password  -- Триггер сам захеширует
    WHERE employee_id = @employee_id;
    
    SELECT 1 as success;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckLogin]    Script Date: 28.01.2026 19:19:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Добавляем процедуру для проверки авторизации
CREATE PROCEDURE [dbo].[sp_CheckLogin]
    @login NVARCHAR(50),
    @password NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        e.employee_id,
        e.full_name,
        e.login,
        e.position_id,
        p.position_name,
        p.access_level,
        e.is_active
    FROM [dbo].[Employees] e
    LEFT JOIN [dbo].[Positions] p ON e.position_id = p.position_id
    WHERE e.login = @login 
      AND e.password_hash = CONVERT(NVARCHAR(255), HASHBYTES('SHA2_256', @password + CAST(e.employee_id AS NVARCHAR(10))), 2)
      AND e.is_active = 1
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Хеш пароля сотрудника' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Employees', @level2type=N'COLUMN',@level2name=N'password_hash'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Таблица должностей сотрудников с уровнями доступа' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Positions'
GO
USE [master]
GO
